/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* 
    THEME COLORS:
    rgb(35, 10, 189) = blue text on 23
    rgb(246, 241, 10) = yellow ART STUDIO
    rgb(242, 29, 7) = red line
    rgb(255, 255, 255) = white
    rgb(1, 0, 0) = black bkgrd 
*/

:root {
    --anim-dur: 1s;
    --blue-art-studio-23: rgb(35, 10, 189);
    --yellow-art-studio-23: rgb(246, 241, 10);
    --red-art-studio-23: rgb(242, 29, 7);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Titillium-Regular;
    src: url(fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: Titillium-Bold;
    src: url(fonts/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: Titillium-Light;
    src: url(fonts/TitilliumWeb-Light.ttf);
}

@font-face {
    font-family: Titillium-ExtraLight;
    src: url(fonts/TitilliumWeb-ExtraLight.ttf);
}

@font-face {
    font-family: Titillium-Black;
    src: url(fonts/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: Titillium-SemiBold;
    src: url(fonts/TitilliumWeb-SemiBold.ttf);
}

.logoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 35px;
    margin-top: 13px;
    height: 100px;
    width: auto;
}

.logo {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-animation: fadeInLeft;
    animation: fadeInLeft;
    -webkit-animation-duration: var(--anim-dur);
    animation-duration: var(--anim-dur);
    height: 100px;
}

.logo:hover {
    scale: 1.02;
}

.topBar {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    z-index: 2;
    position: fixed;
    height: 125px;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(43, 43, 43, 0.577);
}

.topBarTextWrapper {
    position: fixed;
    right: 15px;
    font-size: 40px;
    margin-top: 3px;
    font-family: Titillium-SemiBold;
    -webkit-animation: fadeInRight;
    animation: fadeInRight;
    -webkit-animation-duration: var(--anim-dur);
    animation-duration: var(--anim-dur);
}

.topBarText {
    margin-right: 13px;
    text-decoration: none;
    padding-right: 25px;
    color: rgb(255, 255, 255);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.topBarText:hover {
    color: rgb(120, 156, 223);
}

.barColor {
    position: fixed;
    right: 0px;
    width: 100%;
    background-color: rgba(47, 91, 186, 0.823);
    margin-top: 10px;
    height: 10px;
    -webkit-animation: zoomIn;
    animation: zoomIn;
    -webkit-animation-duration: var(--anim-dur);
    animation-duration: var(--anim-dur);
}

.pictures {
    z-index: 1;
    width: 46.4%;
    height: auto;
    border-radius: 2px;
    margin-left: 8px;
    -webkit-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-duration: var(--anim-dur);
    animation-duration: var(--anim-dur);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 10px 20px 20px 20px;
}

.mainBody {
    position: absolute;
    margin-top: 139px;
    width: 100vw;
    right: 0px;
}

.locationMapWrapper {
    position: absolute;
    -webkit-animation: fadeInRight;
    animation: fadeInRight;
    -webkit-animation-duration: var(--anim-dur);
    animation-duration: var(--anim-dur);
    margin: auto;
    display: block;
}

.locationTextWrapper {
    position: absolute;
    -webkit-animation: fadeInLeft;
    animation: fadeInLeft;
    -webkit-animation-duration: var(--anim-dur);
    animation-duration: var(--anim-dur);
}

.locationTextWrapper p {
    margin: 0px;
    font-size: 22px;
}

.locationTextWrapper .title {
    font-size: 38px;
    margin-bottom: 20px;
}

.map {
    height: 41.667vw;
    width: 55.556vw;
}

/* 
██████████████████████████████████████████████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████
█████████████████████████████████LOADER███████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████
██████████████████████████████████████████████████████████████████████████████████ 
*/


.loader {
    visibility: visible;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 10px;
    background: #3498db;
    border-radius: 5px;
    -webkit-animation: load 1.8s ease-in-out infinite;
    animation: load 1.8s ease-in-out infinite;
}

#loaderWrapper {
    visibility: visible;
}

.loader:before,
.loader:after {
    position: absolute;
    display: block;
    content: "";
    -webkit-animation: load 1.8s ease-in-out infinite;
    animation: load 1.8s ease-in-out infinite;
    height: 10px;
    border-radius: 5px;
}

.loader:before {
    top: -20px;
    left: 10px;
    width: 40px;
    background: #ef4836;
}

.loader:after {
    bottom: -20px;
    width: 35px;
    background: #f5ab35;
}

@-webkit-keyframes load {
    0% {
        transform: translateX(40px);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(40px);
    }
}

@keyframes load {
    0% {
        transform: translateX(40px);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(40px);
    }
}