/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* 
    THEME COLORS:
    rgb(35, 10, 189) = blue text on 23
    rgb(246, 241, 10) = yellow ART STUDIO
    rgb(242, 29, 7) = red line
    rgb(255, 255, 255) = white
    rgb(1, 0, 0) = black bkgrd 
*/

:root {
    --anim-dur: 1s;
    --blue-art-studio-23: rgb(35, 10, 189);
    --yellow-art-studio-23: rgb(246, 241, 10);
    --red-art-studio-23: rgb(242, 29, 7);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-image: url("./media/jpg/BackgroundDesign.png");
    background-size: 70%;
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Titillium-Regular;
    src: url(fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: Titillium-Bold;
    src: url(fonts/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: Titillium-Light;
    src: url(fonts/TitilliumWeb-Light.ttf);
}

@font-face {
    font-family: Titillium-ExtraLight;
    src: url(fonts/TitilliumWeb-ExtraLight.ttf);
}

@font-face {
    font-family: Titillium-Black;
    src: url(fonts/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: Titillium-SemiBold;
    src: url(fonts/TitilliumWeb-SemiBold.ttf);
}



























.logoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 35px;
    margin-top: 13px;
    height: 100px;
    width: auto;
}

.logo {
    -o-transition: 0.3s;
    transition: 0.3s;
    animation: fadeInLeft;
    animation-duration: var(--anim-dur);
    height: calc(1.472vw + 70px);
    width: auto;
}

.logo:hover {
    scale: 1.02;
}

.topBar {
    -o-transition: 0.6s;
    transition: 0.6s;
    z-index: 2;
    position: fixed;
    height: 125px;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(43, 43, 43, 0.577);
}

.topBarTextWrapper {
    position: fixed;
    right: 15px;
    font-size: calc(12px + 0.9vw);
    margin-top: 3px;
    font-family: Titillium-SemiBold;
    animation: fadeInRight;
    animation-duration: var(--anim-dur);
}

@media screen and (max-width: 987px) {
    .topBarTextWrapper {
        visibility: hidden;
        opacity: 0;
    }
}

.topBarText {
    margin-right: 13px;
    text-decoration: none;
    padding-right: 25px;
    color: rgb(255, 255, 255);
    -o-transition: 0.5s;
    transition: 0.5s;
}

.barColor {
    position: fixed;
    right: 0px;
    width: 100%;
    background-color: rgba(47, 91, 186, 0.823);
    margin-top: 10px;
    height: 10px;
    animation: zoomIn;
    animation-duration: var(--anim-dur);
}

.pictures {
    z-index: 1;
    width: 46.4%;
    height: auto;
    border-radius: 2px;
    margin-left: 8px;
    animation: fadeIn;
    animation-duration: var(--anim-dur);
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 10px 20px 20px 20px;
}

@media screen and (max-width: 1400px) {
    .pictures {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .pictures {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .logoWrapper {
        height: 74px;
    }
    #menuToggle {
        top: 35px !important;
    }
}

.mainBody {
    position: absolute;
    margin-top: 139px;
    width: 100vw;
    right: 0px;
}

.homeLink {
    color: var(--blue-art-studio-23);
}

.aboutLink {
    color: var(--red-art-studio-23);
}

.aboutLink:hover {
    color: rgb(53, 100, 255);
}

.locContLink {
    color: var(--yellow-art-studio-23);
}

.locContLink:hover {
    color: var(--red-art-studio-23);
}

.awardsLink {
    color: rgb(53, 100, 255);
}

.awardsLink:hover {
    color: var(--yellow-art-studio-23);
}

footer {
    display: flex;
    justify-content: left;
    padding: 5px;
    background-color: #000000a1;
    color: rgb(236, 236, 236);
    margin-top: 220px;
    margin-left: 50px;
    font-size: calc(5px + 0.5vw);
    font-family: Titillium-Light !important;
}

customCode {
    display: flex;
    padding: 5px;
    font-size: calc(5px + 0.5vw);
    font-family: monospace !important;
}

customCode a {
    color: rgb(236, 236, 236) !important;
    text-decoration: none !important;
}














/* LOCATION PAGE */

.locationMapWrapper {
    position: absolute;
    animation: fadeInRight;
    animation-duration: var(--anim-dur);
    margin: auto;
    display: block;
}

.locationTextWrapper {
    position: absolute;
    animation: fadeInLeft;
    animation-duration: var(--anim-dur);
}

.locationTextWrapper p {
    margin: 0px;
    font-size: calc(7px + 1.181vw);
}

.locationTextWrapper .title {
    font-size: calc(10px + 2.1vw);
    margin-bottom: 22px;
}

.map {
    height: 41.667vw;
    width: 55.556vw;
}

.locationGridWrapper {
    position: relative;
    justify-content: center;
    grid-template-columns: 37vw 64vw;
    text-align: left;
    display: grid;
    grid-gap: 17px;
    color: white;
    font-family: Titillium-Regular;
}

.locationGridWrapper div {
    position: relative;
    padding: 45px 75px 2vw 75px;
    font-size: 30px;
}

@media screen and (max-width: 987px) {
    .locationGridWrapper div {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}























/* MAIN PAGE */
.mainGridWrapper {
    position: relative;
    justify-content: center;
    grid-template-columns: 49vw 49vw;
    text-align: left;
    display: grid;
    grid-gap: 17px;
    color: white;
    font-family: Titillium-Regular;
    animation: fadeInLeft;
    animation-duration: var(--anim-dur);
}

.mainGridWrapper div {
    position: relative;
    background-color: rgba(255, 255, 255, 0.111);
    padding: 45px 75px 250px 75px;
    border-radius: 10px;
    border-width: calc(0.486vw + 3px);
    border-style: solid;
}

.mainbox1 {
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    /* padding: 30px 75px 30px 75px !important; */
    padding: 2.083vw 5.208vw 2.083vw 5.208vw !important;
    border-color: var(--blue-art-studio-23);
    background-color: rgba(110, 131, 251, 0.123) !important;
}

.mainbox2 {
    position: absolute;
    padding: 2.778vw 5.208vw 4.167vw 5.208vw !important;
    border-color: var(--yellow-art-studio-23);
    background-color: rgba(230, 251, 110, 0.13) !important;
}

.mainbox3 {
    position: absolute;
    padding: 2.778vw 5.208vw 4.167vw 5.208vw !important;
    border-color: var(--red-art-studio-23);
    background-color: rgba(251, 110, 110, 0.111) !important;
}

.mainbox4 {
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    padding: 30px 75px 30px 75px !important;
    font-size: calc(10px + 1.389vw);
    border-color: var(--blue-art-studio-23);
    background-color: rgba(110, 131, 251, 0.123) !important;
}

.text {
    font-family: Titillium-Light;
    font-size: calc(10px + 1.389vw);
}

.boldText {
    font-family: Titillium-Light;
    font-size: calc(10px + 1.389vw) !important;
}

.welcomeText {
    font-size: calc(15px + 1.5vw);
}

.welcomeLowerText {
    color: rgb(211, 211, 211);
    font-family: Titillium-ExtraLight;
    font-size: calc(1.389vw + 5px);
}

@media screen and (max-width: 987px) {
    .mainbox2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .mainbox3 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .mainGridWrapper {
        grid-template-columns: 45vw 45vw;
    }
}



























/* ABOUT PAGE */
.aboutGridWrapper {
    position: relative;
    justify-content: center;
    grid-template-columns: 30.639vw 30.639vw 30.972vw;
    text-align: left;
    display: grid;
    grid-gap: 17px;
    color: white;
    font-family: Titillium-Regular;
    animation: fadeInLeft;
    animation-duration: var(--anim-dur);

}

.aboutGridWrapper div {
    position: relative;
    background-color: rgba(255, 255, 255, 0.062);
    border-width: calc(0.486vw + 3px);
    border-style: solid;
    border-radius: 10px;
    padding: 2.431vw 3.125vw 2.431vw 3.125vw;
    font-size: calc(5px + 1.389vw);
}

.aboutbox1 {
    position: absolute;
    border-color: rgb(242, 29, 7);
    grid-column-start: 1;
    grid-column-end: 3;
}

.aboutbox2 {
    border-color: rgb(31, 28, 199);
}

.aboutbox3 {
    border-color: rgb(31, 28, 199);
}

.aboutbox4 {
    position: absolute;
    border-color: rgb(246, 241, 10);
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
}

.aboutbox5 {
    position: absolute;
    border-color: rgb(35, 10, 189);
    grid-column-start: 1;
    grid-column-end: 4;
}

@media screen and (max-width: 987px) {
    .aboutGridWrapper div {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .mainGridWrapper {
        grid-template-columns: 40vw;
    }
}



























/* 

LOADER

*/


.loader {
    visibility: visible;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 10px;
    background: #3498db;
    border-radius: 5px;
    animation: load 1.8s ease-in-out infinite;
}

#loaderWrapper {
    visibility: visible;
}

.loader:before,
.loader:after {
    position: absolute;
    display: block;
    content: "";
    animation: load 1.8s ease-in-out infinite;
    height: 10px;
    border-radius: 5px;
}

.loader:before {
    top: -20px;
    left: 10px;
    width: 40px;
    background: #ef4836;
}

.loader:after {
    bottom: -20px;
    width: 35px;
    background: #f5ab35;
}

@-webkit-keyframes load {
    0% {
        transform: translateX(40px);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(40px);
    }
}

@keyframes load {
    0% {
        transform: translateX(40px);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(40px);
    }
}